
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form  method="post" action="Home\SaveForm">
        <p>
            User Id:<input type="text" id="txtUserId" name="txtUserId"/>
        </p>
        <p>
            Name:<input type="text" id="txtUserName" name="txtUserName" />
        </p>
        <p>
            Phone:<input type="text" id="txtPhone" name="txtPhone"/>
        </p>
        <p>
            Address:<input type="text" id="txtAddress" name="txtAddress"/>
        </p>
        <p>
            <input type="submit" value="Save" />
        </p>
    </form>
@*<form method="post" action="Home\SaveForm">
    <table>
        <tr>
            <td>Enter First Name</td>
            <td><input type="text" id="fname_id" name="fname_name" /></td>
        </tr>
        <tr>
            <td>Enter Last Name</td>
            <td><input type="text" id="lname_id" name="lname_name" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" /></td>
        </tr>
    </table>
</form>*@